@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');



body {
  background-image: url('./img/fitness-black.jpg');
  background-size:cover;
  background-attachment: fixed;
  font-family: 'Lato', sans-serif; 
  background-position:bottom;
  position: relative;

}

.logo {
  width: 50px;
  /* margin-left: 33%; */
}

footer {
  position:fixed;
  bottom:0;
  margin:0px;
  height: 1.5em;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color:rgba(241, 210, 56, 0.761);
  opacity: 100%;
  font-variant: all-small-caps;
  font-size: 16px;
  font-weight: 600;
  text-align:center;
  letter-spacing: 3px;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  
}



.centered {
  justify-content:center;
  text-align:center;
}

.heading {
  font-weight: 900;
  font-size: 5vh;
  font-style: italic;
  color:rgb(255, 255, 255);


}

.links {
  font-weight: 700;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav {
  display:block;
}

.modal-body {
  font-family: 'Roboto Condensed';
  font-size:20px;
  color:rgb(32, 34, 57);
}

#modal-login {
  position: relative;
  font-family: 'Roboto Condensed';
  font-style:italic;
  font-weight: 700;
  border-radius:0px;

}

.modal-content{
  border-radius:0px;
  padding:15px;
  
}

.modal-header {
  display: inline-block;
  text-align:center;
  justify-content:center;
  
}

.modal-header .close {
  margin:-5px;
  float:right;
  position:absolute;
  top:0;
  right:0;
  
}




.nav-pills .nav-link {
  color: rgb(138, 141, 136);
  border: 5px solid white;
  font-size:30px;
  /* margin: 2px; */
  /* padding: 0.5vw -5vw; */
}

.nav-pills .nav-link:hover {
  color: gray;
  border: 5px solid rgba(149, 148, 148, 0.889);
  /* padding: 0.5vw -5vw; */
}

.nav-pills .nav-link.active {
  background-color: rgb(209, 207, 207);
  border: 5px solid rgb(212, 209, 209);
  color: rgb(255, 255, 255);
  /* padding: 0.5vw -5vw; */
}



#modal-login:hover {
  opacity:70%;
}

#submit-btn {
  width:100%;
  font-family: 'Roboto Condensed';
  font-style:italic;
  font-weight: 700;
  border-radius: 0px;
  border:none;
  background-color: rgb(67, 187, 227);
  font-size:25px;
  padding:10px;
  opacity:100%;
}

#submit-btn:hover {
  opacity: 70%;
}



.slogan {
  display:block;
  border: 4px solid white;
  color: white;
  font-size: 5vw;
  font-family: 'Roboto Condensed';
  text-align: center;
  width: 70%;
  margin-top: 25vh;
  background-color:rgba(255, 255, 255, 0.188);


}



.loading {
  color: white;
  font-style: italic;
  font-weight: 400;
}

.container {
  margin:0px;
  justify-content:center;
  width:100%;
}

.container-background {
  background-color: rgb(255, 255, 255);
  padding: 2%;
  padding-bottom:100vh;
  margin: 0;
  position: absolute;
  width: 100vw;

  
}

.exercise-search-font {
  font-family:'Roboto Condensed';
  font-weight: 700;
  font-style: italic;
  font-size:4vh;
  color:rgb(32, 34, 57);

}

.white-font {
  color:rgba(144, 140, 140, 0.767);
  font-size: 3vh;
  margin-bottom: 10px;
}

#dropdown-basic-button {
  background-color: rgb(67, 187, 227);
  border:none;
  border-radius: 0px;
  padding: 0.5% 7%;
  letter-spacing: 2px;
  margin: 2% 0%;
  
}

.dropdown-menu {
  text-align: center;
  justify-content: center;
  font-variant: all-small-caps;
  font-size:3vh;
  padding: 0%;
  border-radius:0px;
}


.dropdown-item {
  text-align: center;
  padding: 0vw 9.5vw;
  
}

.dropdown-item:active {
  background-color: rgba(211, 209, 206, 0.934);
}

#dropdown-basic-button:active, #dropdown-basic-button::selection
#dropdown-basic-button:after {
  border:none;
  box-shadow: none;
}

.add-btn {
  background-color: rgb(116, 189, 94);
  border: none;
  border-radius:0px;
  font-weight:700;
  
}

.add-btn:hover {
  background-color: rgba(61, 192, 72, 0.707);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}



.card-body {
  border:none;
  border-radius:0px;
  background-color:rgb(255, 255, 255);
  margin:0px;
  color: rgb(136, 131, 131);
}

.card-title {
  font-variant: all-small-caps;
  font-weight:700;
  font-size:3vh;
  color:rgb(17, 17, 24);
}

.small {
  font-weight: 400;
  font-style: italic;
  font-size:15px;
}